<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bestsolutions.net.consultamais">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:theme="@style/AppThemeNoToolbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrincipalAgente"
            android:label="@string/title_activity_principal_agente"
            android:theme="@style/AppThemeNoToolbar.NoActionBar"></activity>

        <activity
            android:name=".CadastrarConsulta"
            android:label="@string/title_activity_principal_agente">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PrincipalAgente" />
        </activity>

    </application>

</manifest>